* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

body {
  font-weight: 400;
  line-height: 1.8em;
  background-size: cover;
  background-attachment: fixed;
}

html {
  font-size: 15px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

.BTN-Button {
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: 500;
  padding: 1.1em 1.5em;
  margin: 6px;
  line-height: 1;
  -webkit-box-shadow: 0 0 0 3em #b61984 inset;
          box-shadow: 0 0 0 3em #b61984 inset;
  text-align: center;
  border-radius: 50px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.BTN-Button:hover {
  color: #b61984;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
          box-shadow: 0 0 0 1px #b61984 inset;
}

.cardInfo {
  text-align: center;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.cardInfo .card-body span:first-of-type {
  font-size: 0.75rem;
  color: #b61984;
  font-weight: 600;
}

.cardInfo .card-body span:last-of-type {
  font-size: 1.55rem;
  color: #181818;
  font-weight: 700;
}

.cardInfo .card__img {
  overflow: hidden;
}

.cardInfo .card-img-top {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: 650ms ease-in-out,-webkit-filter 650ms ease-in-out;
  transition: 650ms ease-in-out,-webkit-filter 650ms ease-in-out;
  transition: 650ms ease-in-out,filter 650ms ease-in-out;
  transition: 650ms ease-in-out,filter 650ms ease-in-out,-webkit-filter 650ms ease-in-out;
}

.cardInfo .card-img-top:hover {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
}

.cardInfo:hover {
  -webkit-box-shadow: 0 30px 30px -10px #00000033;
          box-shadow: 0 30px 30px -10px #00000033;
}

header {
  position: relative;
  width: 100%;
  z-index: 100;
}

header .topBarMenu {
  margin-left: 20px;
  display: block;
  color: #181818;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 1em;
}

header .topBarMenu:hover {
  color: #b61984;
  text-decoration: none;
}

header .topBarMenu a {
  display: block;
  color: #181818;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 1em;
}

header .topBarMenu a:hover {
  color: #b61984;
  text-decoration: none;
}

header .nav-item {
  padding-right: 25px;
}

header .nav-item .nav-link {
  font-size: 13px;
  color: #181818;
  font-weight: 600;
  position: relative;
  line-height: 80px;
}

header .nav-item .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #b61984;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

header .nav-item .nav-link:hover {
  color: #b61984;
}

header .nav-item .nav-link:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .active .nav-link::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

header .active .nav-link:hover::after {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.tublaCarosel {
  padding-top: 2em;
}

.tublaCarosel .tublaCarosel__bg img:first-of-type {
  position: absolute;
  top: 0;
}

.tublaCarosel .tublaCarosel__content span:first-of-type {
  font-size: 1.1rem;
  color: #b61984;
  font-weight: 600;
}

.tublaCarosel .tublaCarosel__content span:last-of-type {
  font-size: 3.8rem;
  color: #181818;
  font-weight: 700;
}

.infoStaff {
  background-color: #dcd1f3;
  position: relative;
}

.infoStaff .infoStaff__content {
  position: relative;
  z-index: 3;
}

.infoStaff .infoStaff__item {
  width: 100%;
  margin: 20px 0;
}

.infoStaff .infoStaff__imgbot {
  position: absolute;
  bottom: 0;
}

.formYourCourse {
  padding: 50px 0;
  position: relative;
}

.formYourCourse .BTN-Button {
  padding: 1.5em 50px;
}

.formYourCourse .formYourCourse__content {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 0 25px;
  -webkit-box-shadow: 0 30px 30px -10px #00000033;
          box-shadow: 0 30px 30px -10px #00000033;
  width: 100%;
}

.formYourCourse h4 {
  font-size: 2.5rem;
  color: #181818;
  font-weight: 700;
  margin: 40px 0;
  text-align: center;
}

.formYourCourse .styleForm {
  padding: 1.1em 1.1em 1.1em 3.5em;
  height: 3.7em;
  font-size: 0.8em;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.formYourCourse .styleMessage {
  padding: 1.1em 1.1em 1.1em 3.5em;
  height: 90px;
  font-size: 0.8em;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.formYourCourse .styleSelect {
  padding: 1.1em 1.1em 1.1em 3.5em;
  height: 3.2em;
  font-size: 0.8em;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 0 0 3em;
  cursor: pointer;
}

.formYourCourse .styleSelect:hover {
  color: #b61984;
}

.formYourCourse .form__content {
  position: relative;
}

.formYourCourse .icon__name,
.formYourCourse .icone__Email,
.formYourCourse .icone_message,
.formYourCourse .icon_conE {
  position: absolute;
  left: 1em;
  top: 1em;
  line-height: 1;
  color: #b61984;
}

.formYourCourse .formYourCourse__imgBot {
  position: absolute;
  bottom: 0;
}

.formYourCourse .content {
  position: relative;
  z-index: 3;
}

footer {
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #181818;
}

footer .container {
  padding-bottom: 8em;
}

footer .col-3 {
  padding: 0 40px;
}

footer h2 {
  font-size: 1.55rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 2em;
}

footer .style__span {
  font-size: 0.9em;
  padding-left: 0.8em;
  line-height: 1.1;
}

footer .nav_icon {
  margin-top: 2em;
}

footer .nav_icon a {
  display: block;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 1em;
}

footer .nav_icon a:hover {
  color: #181818;
  text-decoration: none;
}

footer .col__content li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1;
  padding: 0.8em 0;
}

footer .col__content li:first-of-type {
  padding-top: 0;
}

footer .col__content li a {
  display: block;
  font-size: 0.9em;
  color: #ffffff;
  font-weight: 400;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

footer .col__content li a:hover {
  opacity: 0.8;
  text-decoration: none;
}

footer .content__button h2 {
  margin-bottom: 45px;
}

footer .content__button .btn-letter {
  padding-bottom: 0.5em;
}

footer .content__button .btn-letter input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  background: transparent;
  height: 3.2em;
  text-align: center;
  width: 100%;
}

footer .content__button .btn-letter input:focus {
  outline: none;
  border: 1px solid #ffffff;
}

footer .content__button .btNewsletterButton input {
  font-size: 0.8em;
  color: #181818;
  font-weight: 600;
  width: 100%;
  height: 4em;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0 3em #ffffff inset;
          box-shadow: 0 0 0 3em #ffffff inset;
  background: transparent;
  border: none;
  letter-spacing: 1px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

footer .content__button .btNewsletterButton input:hover {
  color: #ffffff;
  -webkit-box-shadow: 0 0 0 1px #ffffff inset;
          box-shadow: 0 0 0 1px #ffffff inset;
}
/*# sourceMappingURL=main.css.map */