@mixin styleText($fs,$color,$fw) {
    font-size: $fs;
    color: $color;
    font-weight: $fw;
    
}

@mixin styleButton($py,$px,$mg,$lh,$box-s) {
    padding: $py $px;
    margin: $mg;
    line-height: $lh;
    box-shadow: $box-s;
    text-align: center;
    border-radius: 50px;
}
@mixin styleContent ($bg,$py,$px){
    background: $bg;
    border-radius: 10px;
    overflow: hidden;
    padding: $py $px;
}
@mixin styleForm ($hg,$fs,$bor-r){
    padding: $pd-2 $pd-2 $pd-2 $pd-9;
    height: $hg;
    font-size: $fs;
    border-radius: $bor-r;
    border: 1px solid rgba(0,0,0,.1);
}
@mixin styleIcon ($color1,$color2){
    display: block;
    color: $color1;
    transition: all 0.5s;
    &:hover{
        color: $color2;
        text-decoration: none;
    }
}